/* fonts.css */

/* Chirp Extended Heavy */
@font-face {
    font-family: 'TwitterChirpExtendedHeavy';
    src: url('/fonts/chirp-extended-heavy-web.woff2') format('woff2'),
         url('/fonts/chirp-extended-heavy-web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Chirp Regular */
  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-regular-web.woff2') format('woff2'),
         url('/fonts/chirp-regular-web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Chirp Medium */
  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-medium-web.woff2') format('woff2'),
         url('/fonts/chirp-medium-web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  /* Chirp Bold */
  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-bold-web.woff2') format('woff2'),
         url('/fonts/chirp-bold-web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Chirp Heavy */
  @font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-heavy-web.woff2') format('woff2'),
         url('/fonts/chirp-heavy-web.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  