@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    background-color: #000000;
    color: white;
    font-family: "Roboto";
  }
}

@layer base {
  a {
    color: #1d9bf0;
  }
  a:hover {
    text-decoration: underline;
  }
}
@layer base {
  body,
  h1,
  h2,
  h3,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: gray;
  }
  #demo-simple-select-helper-label {
    color: #9ca3b0;
    font-weight: 300;
  }
}
